<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://releases-silk.vercel.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2RMO0xofZCoqUThQl+sGUs/989frROgegntI4gU8VR8=</string>
</dict>
</plist>
